@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ffd54f;
  --color-secondary: #223b7d;
  --color-secondary-light: #132c6e;
  --color-secondary-dark: #0f1f4c;
  --color-background: #fefefe;
  --font-inter: "Inter", sans-serif;
  --font-fredoka: "Fredoka", cursive;
}
body {
  @apply bg-background font-inter;
}
/* .custom-radius {
  border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 20%;
} */
/* .custom-image-curve {
  clip-path: ellipse(100% 100% at 66% 0%);
} */

.custom-image-curve {
  /* Default (mobile-first) */
  clip-path: ellipse(142% 98% at 60% 0%);
}

/* Tablet breakpoint (768px and up) */
@media (min-width: 768px) {
  .custom-image-curve {
    clip-path: ellipse(107% 100% at 59% 0%);
  }
}

/* Desktop breakpoint (1024px and up) */
@media (min-width: 1024px) {
  .custom-image-curve {
    clip-path: ellipse(100% 100% at 60% 0%);
  }
}

/* Footer Style */
/* Mobile-first default */
.clip-footer-top {
  clip-path: ellipse(130% 100% at 27% 0%);
  transform: scaleY(-1);
}

/* Tablet (≥768px) */
@media (min-width: 768px) {
  .clip-footer-top {
    clip-path: ellipse(100% 100% at 27% 0%);
  }
}

/* Desktop (≥1024px) */
@media (min-width: 1024px) {
  .clip-footer-top {
    clip-path: ellipse(100% 100% at 27% 0%);
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid #f6f6f6;
}
