@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ffd54f;
  --color-secondary: #223b7d;
  --color-background: #fefefe;
  --font-inter: "Inter", sans-serif;
  --font-fredoka: "Fredoka", cursive;
}
body {
  @apply bg-background font-inter;
}
